/* globals.css */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Custom classes that behave like components. 
     Tailwind will place these AFTER 'base' but BEFORE 'utilities'.
  */
  .btn-primary {
    @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white transition-colors bg-black rounded-md hover:bg-zinc-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black;
  }
}

@layer utilities {
  /* Custom one-off helper classes.
     These will be placed at the very end, meaning they 
     will override both 'base' and 'components'.
  */
  .content-auto {
    content-visibility: auto;
  }
}